In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
from scipy.stats import linregress, pearsonr

## Possesion

In [3]:
possession = pd.read_csv('/Users/Ruffio/Documents/Prem/team/possession_premier_league_stats.csv')
possession = possession.drop(columns=['Unnamed: 0'])
possession.index = possession.index + 1
possession

,Squad,Poss,90s,Touches,Def Pen,Def 3rd,Mid 3rd,Att 3rd,Att Pen,Att,...,Tkld,Tkld%,Carries,PrgDist,PrgC,1/3,CPA,Mis,Dis,PrgR
1,Arsenal,59.3,38.0,25909,1994,6632,11452,8015,1296,751,...,290,38.6,15924,44202,824,583,281,526,378,2024
2,Aston Villa,49.3,38.0,21501,2783,7912,9077,4706,746,681,...,279,41.0,12294,33156,637,434,174,565,371,1227
3,Bournemouth,40.4,38.0,19950,2934,8004,7933,4256,699,735,...,344,46.8,10336,27419,504,388,144,589,367,986
4,Brentford,43.8,38.0,19750,2632,7290,7802,4835,827,597,...,248,41.5,10408,23987,392,299,102,520,335,1121
5,Brighton,60.2,38.0,26728,2471,7844,12213,6873,1102,726,...,279,38.4,16331,43965,809,547,250,558,324,1828
6,Chelsea,58.7,38.0,27166,2564,8461,12057,6850,958,838,...,352,42.0,16538,43596,829,622,216,568,381,1729
7,Crystal Palace,46.3,38.0,21713,2580,7668,9275,4991,766,784,...,314,40.1,11687,30015,556,393,206,643,457,1238
8,Everton,42.8,38.0,20233,2527,7219,8417,4830,742,669,...,296,44.2,10479,27858,500,391,137,605,300,1042
9,Fulham,48.8,38.0,22162,2563,7462,9521,5416,758,599,...,239,39.9,12250,35319,662,472,124,535,379,1316
10,Leeds United,47.0,38.0,21642,2125,6971,9290,5587,796,688,...,328,47.7,11342,27062,555,379,146,602,421,1418
11,Leicester City,47.7,38.0,23125,2681,8408,10293,4641,688,620,...,245,39.5,12503,31619,580,363,175,548,313,1294
12,Liverpool,60.8,38.0,28399,2310,8119,13329,7149,1252,691,...,282,40.8,17146,41527,719,569,234,584,413,1974
13,Manchester City,64.7,38.0,29895,2170,7410,14372,8301,1277,704,...,239,33.9,19122,56216,988,754,279,406,298,2054
14,Manchester Utd,53.7,38.0,24848,2639,8093,10389,6570,1036,730,...,338,46.3,14245,37126,711,515,239,497,293,1578
15,Newcastle Utd,52.3,38.0,22106,2088,6757,9053,6516,1161,783,...,322,41.1,12021,32968,694,493,227,576,363,1599
16,Nott'ham Forest,37.6,38.0,17912,2715,7420,6953,3755,611,569,...,235,41.3,8674,24008,435,308,111,537,275,847
17,Southampton,44.5,38.0,21095,2639,7452,8998,4880,712,759,...,318,41.9,11324,29821,588,453,131,567,400,1112
18,Tottenham,50.0,38.0,23836,2734,8571,10329,5135,842,666,...,288,43.2,13679,36842,692,465,189,521,356,1436
19,West Ham,42.1,38.0,20410,2362,6898,8703,4993,756,614,...,266,43.3,10540,28247,615,413,166,458,357,1266
20,Wolves,49.9,38.0,22539,2921,8544,9262,4960,686,772,...,302,39.1,12373,35065,610,421,142,516,327,1331

### Possession Percentage

In [4]:
poss_pct = possession.sort_values(by='Poss', ascending=False)
poss_pct.reset_index(drop=True, inplace=True)
poss_pct.index = poss_pct.index + 1
poss_pct.loc[:5, ['Squad', 'Poss']]

             Squad  Poss
1  Manchester City  64.7
2        Liverpool  60.8
3         Brighton  60.2
4          Arsenal  59.3
5          Chelsea  58.7

### Touches in Attacking Third

In [5]:
att3rd_possesion = possession.sort_values(by='Att 3rd', ascending=False).reset_index(drop=True)
att3rd_possesion.index = att3rd_possesion.index + 1
att3rd_possesion.loc[:5, ['Squad', 'Att 3rd']]

             Squad  Att 3rd
1  Manchester City     8301
2          Arsenal     8015
3        Liverpool     7149
4         Brighton     6873
5          Chelsea     6850

### Touches in Defensive Third

In [6]:
def3rd_possession = possession.sort_values(by='Def 3rd', ascending=False).reset_index(drop=True)
def3rd_possession.index = def3rd_possession.index + 1
def3rd_possession.loc[:5, ['Squad', 'Def 3rd']]

            Squad  Def 3rd
1       Tottenham     8571
2          Wolves     8544
3         Chelsea     8461
4  Leicester City     8408
5       Liverpool     8119

### Progressive Carries

In [7]:
progressive_carries = possession.sort_values(by='PrgC', ascending=False).reset_index(drop=True)
progressive_carries.index = progressive_carries.index + 1
progressive_carries.loc[:5, ['Squad', 'PrgC']]

             Squad  PrgC
1  Manchester City   988
2          Chelsea   829
3          Arsenal   824
4         Brighton   809
5        Liverpool   719